<section class="experience_area">
  <div class="container">
    <div class="experience_list">
      <div class="experience_item">
        <div class="experience_period">Feb 2021 — Present</div>
        <div class="experience_content">
          <a class="experience_title_link" target="_blank" href="https://klovercloud.com">
            <h2 class="experience_title">Senior Software Engineer - KloverCloud</h2>
            <svg class="ml-2" xmlns="http://www.w3.org/2000/svg" height="1em" viewBox="0 0 512 512">
              <path fill="#fff" d="M320 0c-17.7 0-32 14.3-32 32s14.3 32 32 32h82.7L201.4 265.4c-12.5 12.5-12.5 32.8 0 45.3s32.8 12.5 45.3 0L448 109.3V192c0 17.7 14.3 32 32 32s32-14.3 32-32V32c0-17.7-14.3-32-32-32H320zM80 32C35.8 32 0 67.8 0 112V432c0 44.2 35.8 80 80 80H400c44.2 0 80-35.8 80-80V320c0-17.7-14.3-32-32-32s-32 14.3-32 32V432c0 8.8-7.2 16-16 16H80c-8.8 0-16-7.2-16-16V112c0-8.8 7.2-16 16-16H192c17.7 0 32-14.3 32-32s-14.3-32-32-32H80z"/>
            </svg>
          </a>
          <p class="experience_desc">
            Dockerize angular application, deployment in Kubernetes cluster  • Angular project architecture  • Implement JWT, SSO authentication  • Design and develop role based permission  • Implement Websocket base component  • Implement angular role based guards(CanActivate, CanDeactive, Resolve)  • Design and develop custom library components  • Design dark and light theme  • Optimize and improve application performance  • Update angular version  • Manage and maintain angular project
          </p>
          <ul class="skill_list">
            <li>Angular</li>
            <li>TypeScript</li>
            <li>Project Architecture</li>
            <li>JSON Web Token (JWT)</li>
            <li>Role-Based Access Control (RBAC)</li>
            <li>Docker</li>
            <li>Angular Material</li>
            <li>Tailwindcss</li>
            <li>Micro-frontend</li>
            <li>Kubernetes</li>
          </ul>
        </div>
      </div>
      <div class="experience_item">
        <div class="experience_period">Feb 2023 — July 2023</div>
        <div class="experience_content">
          <a class="experience_title_link" target="_blank" href="https://movit.ch">
            <h2 class="experience_title">Senior Angular Engineer - MovIT | Remote</h2>
            <svg class="ml-2" xmlns="http://www.w3.org/2000/svg" height="1em" viewBox="0 0 512 512">
              <path fill="#fff" d="M320 0c-17.7 0-32 14.3-32 32s14.3 32 32 32h82.7L201.4 265.4c-12.5 12.5-12.5 32.8 0 45.3s32.8 12.5 45.3 0L448 109.3V192c0 17.7 14.3 32 32 32s32-14.3 32-32V32c0-17.7-14.3-32-32-32H320zM80 32C35.8 32 0 67.8 0 112V432c0 44.2 35.8 80 80 80H400c44.2 0 80-35.8 80-80V320c0-17.7-14.3-32-32-32s-32 14.3-32 32V432c0 8.8-7.2 16-16 16H80c-8.8 0-16-7.2-16-16V112c0-8.8 7.2-16 16-16H192c17.7 0 32-14.3 32-32s-14.3-32-32-32H80z"/>
            </svg>
          </a>
          <p class="experience_desc">Implement and maintain MovIT Angular UI libraries</p>
          <ul class="skill_list">
            <li>Nx</li>
            <li>Angular</li>
            <li>Project Architecture</li>
            <li>Micro Fronted Architecture</li>
            <li>Npm Package</li>
          </ul>
        </div>
      </div>
      <div class="experience_item">
        <div class="experience_period">Sep 2017  — Jun 2018</div>
        <div class="experience_content">
          <a class="experience_title_link" target="_blank" href="https://themeim.com">
            <h2 class="experience_title">Frontend Engineer - ThemeIM</h2>
            <svg class="ml-2" xmlns="http://www.w3.org/2000/svg" height="1em" viewBox="0 0 512 512">
              <path fill="#fff" d="M320 0c-17.7 0-32 14.3-32 32s14.3 32 32 32h82.7L201.4 265.4c-12.5 12.5-12.5 32.8 0 45.3s32.8 12.5 45.3 0L448 109.3V192c0 17.7 14.3 32 32 32s32-14.3 32-32V32c0-17.7-14.3-32-32-32H320zM80 32C35.8 32 0 67.8 0 112V432c0 44.2 35.8 80 80 80H400c44.2 0 80-35.8 80-80V320c0-17.7-14.3-32-32-32s-32 14.3-32 32V432c0 8.8-7.2 16-16 16H80c-8.8 0-16-7.2-16-16V112c0-8.8 7.2-16 16-16H192c17.7 0 32-14.3 32-32s-14.3-32-32-32H80z"/>
            </svg>
          </a>
          <p class="experience_desc">Develop their client base website and ThemeForest-based Templates.</p>
          <ul class="skill_list">
            <li>HTML5</li>
            <li>CSS</li>
            <li>JavaScript</li>
            <li>Bootstrap</li>
            <li>Gulp</li>
          </ul>
        </div>
      </div>
    </div>
      
    <!-- Resume Link -->
    <div class="flex justify-end mt-4">
      <a target="_blank" href="assets/resume.pdf" class="text-right text-white text-lg">Check Full Resume -></a>
    </div>
  </div>
</section>