<section id="experience_area">
  <div class="container">
    <div class="flex items-center flex-wrap justify-between mb-6">
      <h2 class="section_title">Experiences</h2>
    </div>

    <div class="experience_list">
      <mia-experience-item [scrollPosition$]="scrollBottomPosition$">
        <span period>Jan 2022 — Present</span>

        <h2 class="experience_title">
          Senior Software Engineer -
          <a class="experience_title_link" target="_blank" href="https://klovercloud.com">
            KloverCloud
            <svg class="ml-2" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512">
              <path
                d="M320 0c-17.7 0-32 14.3-32 32s14.3 32 32 32h82.7L201.4 265.4c-12.5 12.5-12.5 32.8 0 45.3s32.8 12.5 45.3 0L448 109.3V192c0 17.7 14.3 32 32 32s32-14.3 32-32V32c0-17.7-14.3-32-32-32H320zM80 32C35.8 32 0 67.8 0 112V432c0 44.2 35.8 80 80 80H400c44.2 0 80-35.8 80-80V320c0-17.7-14.3-32-32-32s-32 14.3-32 32V432c0 8.8-7.2 16-16 16H80c-8.8 0-16-7.2-16-16V112c0-8.8 7.2-16 16-16H192c17.7 0 32-14.3 32-32s-14.3-32-32-32H80z"
              />
            </svg>
          </a>
        </h2>

        <p class="experience_desc">
          Dockerize angular application, deployment in Kubernetes cluster • Angular project architecture • Implement JWT, SSO authentication
          • Design and develop role based permission • Implement Websocket base component • Implement angular role based guards(CanActivate,
          CanDeactive, Resolve) • Design and develop custom library components • Design dark and light theme • Optimize and improve
          application performance • Update angular version • Manage and maintain angular project
        </p>
        <ul class="skill_list">
          <li>Angular</li>
          <li>TypeScript</li>
          <li>Project Architecture</li>
          <li>JSON Web Token (JWT)</li>
          <li>Role-Based Access Control (RBAC)</li>
          <li>Angular Material</li>
          <li>Tailwindcss</li>
          <li>Micro-Frontend</li>
          <li>Docker</li>
          <li>Kubernetes</li>
        </ul>
      </mia-experience-item>

      <mia-experience-item [scrollPosition$]="scrollBottomPosition$">
        <span period>Feb 2021 — Dec 2021</span>

        <h2 class="experience_title">
          Software Engineer -
          <a class="experience_title_link" target="_blank" href="https://klovercloud.com">
            KloverCloud
            <svg class="ml-2" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512">
              <path
                d="M320 0c-17.7 0-32 14.3-32 32s14.3 32 32 32h82.7L201.4 265.4c-12.5 12.5-12.5 32.8 0 45.3s32.8 12.5 45.3 0L448 109.3V192c0 17.7 14.3 32 32 32s32-14.3 32-32V32c0-17.7-14.3-32-32-32H320zM80 32C35.8 32 0 67.8 0 112V432c0 44.2 35.8 80 80 80H400c44.2 0 80-35.8 80-80V320c0-17.7-14.3-32-32-32s-32 14.3-32 32V432c0 8.8-7.2 16-16 16H80c-8.8 0-16-7.2-16-16V112c0-8.8 7.2-16 16-16H192c17.7 0 32-14.3 32-32s-14.3-32-32-32H80z"
              />
            </svg>
          </a>
        </h2>

        <ul class="experience_desc">
          <li>Implement features (ticket, queue, namespace, k8s) inside console webapp.</li>
          <li>Develop dashboard webapp project.</li>
          <li>Develop kubernetes dashboard webapp project called lighthouse.</li>
          <li>Develop cost management webapp project.</li>
        </ul>
        <ul class="skill_list">
          <li>Angular</li>
          <li>TypeScript</li>
          <li>JSON Web Token (JWT)</li>
          <li>Angular Material</li>
          <li>Tailwindcss</li>
          <li>Bootstrap</li>
        </ul>
      </mia-experience-item>
      <mia-experience-item [scrollPosition$]="scrollBottomPosition$">
        <span period>Feb 2023 — July 2023</span>
        <h2 class="experience_title">
          Senior Angular Engineer -
          <a class="experience_title_link" target="_blank" href="https://movit.ch">
            MovIT | Remote
            <svg class="ml-2" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512">
              <path
                d="M320 0c-17.7 0-32 14.3-32 32s14.3 32 32 32h82.7L201.4 265.4c-12.5 12.5-12.5 32.8 0 45.3s32.8 12.5 45.3 0L448 109.3V192c0 17.7 14.3 32 32 32s32-14.3 32-32V32c0-17.7-14.3-32-32-32H320zM80 32C35.8 32 0 67.8 0 112V432c0 44.2 35.8 80 80 80H400c44.2 0 80-35.8 80-80V320c0-17.7-14.3-32-32-32s-32 14.3-32 32V432c0 8.8-7.2 16-16 16H80c-8.8 0-16-7.2-16-16V112c0-8.8 7.2-16 16-16H192c17.7 0 32-14.3 32-32s-14.3-32-32-32H80z"
              />
            </svg>
          </a>
        </h2>
        <ul class="experience_desc">
          <li>Angular project and module architecture, Implement micro angular projects using Nx. Those projects are part of micro-frontend.</li>
          <li>Implement angular base movit cdk components package and publish in NPM private  library. So that package components can be us for multiple angular project.</li>
        </ul>
        <ul class="skill_list">
          <li>Angular</li>
          <li>Angular Project Architecture</li>
          <li>Feature Module Architecture</li>
          <li>JWT Authentication</li>
          <li>NX</li>
          <li>Micro Fronted</li>
          <li>Npm Package</li>
          <li>Bootstrap</li>
          <li>Animate</li>
        </ul>
      </mia-experience-item>
      <mia-experience-item [scrollPosition$]="scrollBottomPosition$">
        <div period>Sep 2017 — Jun 2018</div>
        <div class="experience_content">
          <h2 class="experience_title">
            Frontend Engineer -
            <a class="experience_title_link" target="_blank" href="https://themeim.com">
              ThemeIM
              <svg class="ml-2" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512">
                <path
                  d="M320 0c-17.7 0-32 14.3-32 32s14.3 32 32 32h82.7L201.4 265.4c-12.5 12.5-12.5 32.8 0 45.3s32.8 12.5 45.3 0L448 109.3V192c0 17.7 14.3 32 32 32s32-14.3 32-32V32c0-17.7-14.3-32-32-32H320zM80 32C35.8 32 0 67.8 0 112V432c0 44.2 35.8 80 80 80H400c44.2 0 80-35.8 80-80V320c0-17.7-14.3-32-32-32s-32 14.3-32 32V432c0 8.8-7.2 16-16 16H80c-8.8 0-16-7.2-16-16V112c0-8.8 7.2-16 16-16H192c17.7 0 32-14.3 32-32s-14.3-32-32-32H80z"
                />
              </svg>
            </a>
          </h2>
          <ul class="experience_desc">
            <li>Develop their client base website and ThemeForest-based templates.</li>
          </ul>
          <ul class="skill_list">
            <li>HTML5</li>
            <li>CSS</li>
            <li>JavaScript</li>
            <li>Bootstrap</li>
            <li>Gulp</li>
            <li>Jquery</li>
          </ul>
        </div>
      </mia-experience-item>
    </div>

    <!-- Resume Link -->
    <!-- <div class="flex justify-end mt-4">
      <a target="_blank" href="assets/resume.pdf" class="text-right bg-slate-700 bg-opacity-30 hover:bg-opacity-50 text-white py-2 px-5 rounded-full text-base">Check Full Resume -></a>
    </div> -->
  </div>
</section>
