<header id="toolbar_area" [@fadeInUp]>
  <div class="container flex items-center justify-between">
    <a href="/" class="flex items-center space-x-3 rtl:space-x-reverse">
      <span class="self-center text-xl font-semibold whitespace-nowrap dark:text-white">Sajal</span>
    </a>
    <div class="hidden w-full md:block md:w-auto" id="navbar-default">
      <ul class="font-medium flex">
        <li>
          <a routerLink="/" fragment="hero_area" class="block py-2 px-3 rounded md:bg-transparent">Intro</a>
        </li>
        <li>
          <a routerLink="/" fragment="experience_area" class="block py-2 px-3 rounded md:bg-transparent">Experience</a>
        </li>
        <li>
          <a routerLink="/" fragment="skill_area" class="block py-2 px-3 rounded md:bg-transparent">Skill</a>
        </li>
        <li>
          <a routerLink="/" fragment="portfolio_area" class="block py-2 px-3 rounded md:bg-transparent">Project</a>
        </li>
        <li>
          <a routerLink="/" fragment="blog_area" class="block py-2 px-3 rounded md:bg-transparent">Blog</a>
        </li>
        <li>
          <a routerLink="/" fragment="contact_area" class="block py-2 px-3 rounded md:bg-transparent">Contact</a>
        </li>
      </ul>
    </div>
  </div>
</header>