<section class="hero_area">
  <div class="container">
    <h2 class="hero_title"><span class="hero_title_sub">Hay! This is Sajal Mia,</span> <br> Passionate Software Engineer</h2>
    <div class="hero_illustrator"></div>
    <div class="hero_avatar">
      <div class="hero_avatar_img">
        <img src="assets/avatar.png" alt="">
      </div>
    </div>
    <div class="hero_details">
      
      <!-- Professional Definition -->
      <p>At this time I have more than six years of working experiences as Software Engineer. Currently I am working as a Senior Software Engineer at KloverCloud for three years. My responsibility at KloverCloud, improves and implement new features at their saas platform, lead UI products as well. I've also write blog post at TechIncent</p>
      
      <!-- Self Definition -->
      <p>Well, I would describe myself as somebody who is positive, happy and also resilient. I would say I'm the type of person who always puts the needs of a team first. I am a creative problem solver. I’m the type of person who always embraces positive change. I am trustworthy and reliable. </p>
      
      <!-- Personal Life -->
      <p>Outside of computer, I like to keep myself fit and active. Which in turn improves my concentration levels whilst.</p>
    </div>
  </div>
  <div class="scroll-down">
    <span></span>
  </div>
</section>