<section class="hero_area">
  <div class="container">
    <h2 class="hero_title"><span class="hero_title_sub">Hay! This is Sajal Mia,</span> <br> Passionate Software Engineer</h2>
    <div class="hero_illustrator"></div>
    <div class="hero_avatar">
      <div class="hero_avatar_img">
        <img src="assets/avatar.png" alt="">
      </div>
    </div>
    <div class="hero_details">
      <!-- Earlier Story -->
      <p>Back in 2016, I decided to try my hand at creating custom ThemeForest themes and tumbled head first into the rabbit hole of coding and web development. Fast-forward to today, and I’ve had the privilege of building software for an product base companies.</p>
      <!-- Current Focus -->
      <p>My main focus these days is building products and leading projects for our products at KloverCloud. In my free time I've also write blog post at Tech Incent</p>
      <!-- Personal Life -->
      <p>When I’m not at the computer, I’m usually reading book, hanging out with my friend, or play physical game(Mostly Football)</p>
    </div>
  </div>
  <div class="scroll-down">
    <span></span>
  </div>
</section>