.hero {
  &_area {
    min-height: 100vh;
    display: flex;
  }

  &_title {
    width: 100%;
    z-index: 30;
    position: relative;
    // animation: anim-text 1050ms cubic-bezier(0, 0.45, 0.15, 1);
    font-size: 6vw;
    line-height: 8vw;
    margin-top: 70px;

    &_sub {
      font-size: 5vw;
      line-height: 7vw;
    }
  }

  &_details {
    font-size: 16px;
    margin-top: 10px;
    p {
      margin-top: 16px;
    }
  }

  &_illustrator {
    margin-top: 10px;
    min-width: 320px;
    min-height: 400px;
    position: absolute;
    z-index: -1;

    &::before {
      content: "";
      background-color: #18033C;
      border-top-left-radius: 10px;
      border-top-right-radius: 10px;
      border-bottom-left-radius: 200px;
      border-bottom-right-radius: 200px;
      height: 100%;
      width: 100%;
      position: absolute;
      animation: scale-background 2000ms cubic-bezier(0, 0.45, 0.15, 1);
    }
  }

  &_avatar {
    position: absolute;
    z-index: 20;
    margin: 37px 0 0 20px;
    z-index: -1;
  }
}

@media (min-width: 1200px) {
  $marginLeft: 480px;

  .hero {
    &_details {
      width: calc(100% - $marginLeft);
      margin-left: $marginLeft;
    }
  }
}

@media (min-width: 1440px) {
  .hero {
    &_title {
      font-size: 5.2vw;
      line-height: 6vw;

      &_sub {
        font-size: 5vw;
        line-height: 6vw;
      }
    }

    &_details {
      font-size: 1.2rem;
    }
  }
}