// Social Media
.social_media {
  display: flex;
  column-gap: 1.3rem;
  li {
    a {
      display: inline-block;
      svg {
        transition: all 0.2s cubic-bezier(0.075, 0.82, 0.165, 1);
      }
      &:hover {
        svg {
          transform: scale(1.2);
        }
      }
    }
  }
}
